<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title</title>
    <link rel="stylesheet" href="/js/bootstrap.css">
    <style>
        html,
        body {
            height: 100%;
            /* width: 100%; */
            overflow: hidden;
        }
        
        body {
            padding: 70px 0 30px 0;
            box-sizing: border-box;
        }
        
        .pub {
            height: 100%;
        }
        
        footer {
            background-color: rgba(188, 250, 255, 0.52);
            line-height: 30px;
        }
        
        main div.lr div.panel-body {
            height: calc(100% - 38px);
            overflow-y: auto;
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <!-- sr-only 用于提升可访问性（accessibility），它的含义是 screen reader only（仅提供给屏幕阅读器使用） -->
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
                <a class="navbar-brand" href="#">Brand</a>
            </div>

            <!-- 这个元素在移动设备中将被折叠起来 -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav">
                    <li class="active hidden-sm"><a href="#">公司简介</a></li>
                    <li class="hidden-sm hidden-md"><a href="#">新品出炉</a></li>
                    <li class="hidden-sm hidden-md"><a href="#">产品介绍</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li><a href="#">Separated link</a></li>
                            <li><a href="#">One more separated link</a></li>
                        </ul>
                    </li>
                    <li class="hidden-sm"><a href="#">加强联系</a></li>
                </ul>
                <form class="navbar-form navbar-left" role="search">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Search">
                    </div>
                    <button type="submit" class="btn btn-default">Submit</button>
                </form>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="#" id="username"></a>
                    </li>
                    <li>
                        <a href="#" id="logout">注销</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <main class="container-fluid pub">
        <div class="row pub">
            <div class="col-md-2 pub">
                <div class="panel panel-primary pub lr">
                    <div class="panel-heading">
                        <h3 class="panel-title">管理控制台</h3>
                    </div>
                    <div class="panel-body" style="overflow: auto;">
                        <ul class="list-unstyled" style="line-height: 40px;">
                            <li>
                                <a href="#one" class="active">添加新闻</a>
                            </li>
                
                            <li>
                                <a href="#four" class="">多图片新闻添加</a>
                            </li>
                            <li>
                                <a href="#five" class="">删除News记录</a>
                            </li>
                            <li>
                                <a href="#six" class="">修改新闻News1</a>
                            </li>
                            <li>
                                <a href="#seven" class="">修改密码</a>
                            </li>
                            <li>
                                <a href="##" class="">Sass中国</a>
                            </li>
                            <li>
                                <a href="##" class="active">图解CSS3</a>
                            </li>
                            <li>
                                <a href="##" class="">W3cplus</a>
                            </li>
                            <li>
                                <a href="##" class="">慕课网</a>
                            </li>
                            <li>
                                <a href="##" class="">Sass中国</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-10  pub lr" style="overflow: hidden;">
                <div class="panel panel-primary pub" id="one">
                    <div class="panel-heading">
                        添加新闻
                    </div>
                    <div class="panel-body">
                        <form class="form-horizontal" role="form">
                            <div class="form-group has-feedback">
                                <label class="col-sm-1 control-label">标题：</label>
                                <div class="col-sm-10">
                                    <input name='title' class="form-control" placeholder="请输入标题">
                                </div>
                            </div>
                            <div class="form-group has-feedback">
                                <label class="col-sm-1 control-label">内容：</label>
                                <div class="col-sm-10">
                                    <textarea name='content' class="form-control" rows="10"></textarea>
                                </div>
                            </div>
                            <div class="form-group has-feedback">
                                <label class="col-sm-1 control-label">图片：</label>
                                <div class="col-sm-10">
                                    <input type="file" name='image' class="form-control">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-4 col-sm-offset-2">
                                    <button type="submit" class="btn btn-default">添加</button>
                                </div>
                                <div class="col-sm-2">
                                    <button type="reset" class="btn btn-default">重置</button>
                                </div>
                            </div>
                        </form>
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>标题</th>
                                   
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
               
                <div class="panel panel-primary pub" id="four">
                    <div class="panel-heading">
                        添加多图片新闻
                    </div>
                    <div class="panel-body">
                        <form class="form-horizontal form1" role="form">
                            <div class="form-group has-feedback">
                                <label class="col-sm-1 control-label">图片：</label>
                                <div class="col-sm-10">
                                    <input type="file" name='smallSrc' class="form-control">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-4 col-sm-offset-2">
                                    <button type="submit" class="btn btn-default">添加新图片</button>
                                </div>
                            </div>
                        </form>
                        <hr>
                        <form class="form-horizontal form2" role="form">
                            <div class="form-group has-feedback">
                                <label class="col-sm-1 control-label">标题：</label>
                                <div class="col-sm-10">
                                    <input name='title' pattern="\S{2,100}" class="form-control" required placeholder="请输入标题">
                                </div>
                            </div>
                            <div class="form-group has-feedback">
                                <label class="col-sm-1 control-label">内容：</label>
                                <div class="col-sm-10">
                                    <textarea name='content' class="form-control" rows="10"><p></p></textarea>
                                </div>
                            </div>
                            <div class="form-group has-feedback">
                                <label class="col-sm-1 control-label">缩率图：</label>
                                <div class="col-sm-10">
                                    <input type="file" name='smallSrc' class="form-control">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-4 col-sm-offset-2">
                                    <button type="submit" class="btn btn-default">添加</button>
                                </div>
                                <div class="col-sm-2">
                                    <button type="reset" class="btn btn-default">重置</button>
                                </div>
                            </div>
                        </form>
                        <ol></ol>
                    </div>
                </div>
                <div class="panel panel-primary pub" id="five">
                    <div class="panel-heading">
                        删除News记录
                    </div>
                    <div class="panel-body">
                        <select class="form-control" id="fiveSelect">
                            <option value="one">知识</option>
                            <option value="two">热门</option>
                            <option value="three">军事</option>
                            <option value="four">财经</option>
                        </select>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>新闻标题</th>
                                    <th>新闻图片</th>
                                    <th>操作</th>
                                </tr>
                            </thead>
                            <tbody id="fiveTbody">
                            </tbody>
                        </table>
                        <div id="fivePage">
                        </div>
                    </div>
                </div>
                <div class="panel panel-primary pub" id="six">
                    <div class="panel-heading">
                        修改News1记录
                    </div>
                    <div class="panel-body">
                        <div class="panel-body">
                            <form class="form-horizontal form1" role="form">
                                <div class="form-group has-feedback">
                                    <label class="col-sm-1 control-label">查询标题</label>
                                    <div class="col-sm-10">
                                        <input name='title' required class="form-control" placeholder="请输入查询关键字">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-4 col-sm-offset-2">
                                        <button type="submit" class="btn btn-default">查询</button>
                                    </div>
                                    <div class="col-sm-2">
                                        <button type="reset" class="btn btn-default">重置</button>
                                    </div>
                                </div>
                            </form>
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>新闻标题</th>
                                        <th>新闻日期</th>
                                        <th>操作</th>
                                    </tr>
                                </thead>
                                <tbody id="sixTbody">
                                </tbody>
                            </table>
                            <hr>
                            <form class="form-horizontal form2" role="form">
                                <div class="form-group has-feedback">
                                    <label class="col-sm-1 control-label">标题：</label>
                                    <div class="col-sm-10">
                                        <input name='title' pattern="\S{2,100}" class="form-control title" required placeholder="请修改标题">
                                        <input name='id' type="hidden" class="id">
                                    </div>
                                </div>
                                <div class="form-group has-feedback">
                                    <label class="col-sm-1 control-label">内容：</label>
                                    <div class="col-sm-10">
                                        <textarea name='content' class="form-control content" rows="10"></textarea>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-4 col-sm-offset-2">
                                        <button type="submit" class="btn btn-default">修改</button>
                                    </div>
                                    <div class="col-sm-2">
                                        <button type="reset" class="btn btn-default">重置</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
    </main>
    <footer class="footer navbar-fixed-bottom">
        <ul class="list-inline text-center" style="margin-bottom: 0">
            <li><a href="http://www.miibeian.gov.cn/" target="_blank">京ICP备11008151号</a></li>
            <li>京公网安备11010802014853</li>
        </ul>
    </footer>
    <script src="/js/jquery-2.1.3.js"></script>
    <script src="/js/com.js"></script>
    <script>
        //------------------------------添加新闻------------------------------------
        let one = document.getElementById('one');
        let oneForm = one.querySelector('form');
        let oneTbody = one.querySelector('tbody');
        oneForm.onsubmit = function(e) {
                e = e || event;
                e.preventDefault();
                let data = new FormData(this);
                $.ajax({
                    url: "/admin/addData",
                    type: "post",
                    data,
                    dataType: "json",
                    cache: false,
                    contentType: false,
                    processData: false,
                    success: function(rs) {
                       
                            let tr = document.createElement('tr');
                            let td = document.createElement('td');
                            td.innerText = rs.title;
                            tr.appendChild(td);
                            oneTbody.appendChild(tr)
                       
                    },
                    error: function() {
                        alert('操作失败')
                    }
                });
                return false
            }
           
            //------------------------------添加多图片新闻------------------------------------
        let four = document.getElementById('four');
        let fourForm1 = four.querySelector('.form1');
        let fourForm2 = four.querySelector('.form2');
        let fourTextarea = four.querySelector('textarea');
        let fourOl = four.querySelector('ol');
        fourForm1.onsubmit = function() {
            let data = new FormData(this);
            $.ajax({
                url: "/admin/newImg",
                type: "post",
                data,
                dataType: "json",
                cache: false,
                contentType: false,
                processData: false,
                success: function(filename) {
                    if (filename)
                        fourTextarea.value += `<img src="{{imgUrl}}/upload/${filename}"/><p></p>`;
                    else
                        alert('你忘了选择图片！')
                },
                error: function() {
                    alert('操作失败')
                }
            });
            return false
        }
        fourForm2.onsubmit = function() {
            let data = new FormData(this);
            $.ajax({
                url: "/admin/addArticle",
                type: "post",
                data,
                dataType: "json",
                cache: false,
                contentType: false,
                processData: false,
                success: function(filename) {
                    if (filename)
                    fourOl.innerHTML += '<li>' + filename.title + '</li>'
                    else
                        alert('你忘了选择图片！')
                },
                error: function() {
                    alert('操作失败')
                }
            });
                return false
            }
               //------------------------------删除News记录------------------------------------
        let five = document.getElementById('five');
        let fiveSelect=document.getElementById('fiveSelect');
        let fivePage = document.getElementById('fivePage');
        let fiveTbody = document.getElementById('fiveTbody');
        let fiveNum = 0; //代表当前页
        let fivePages = 0; //当前总页
        let dataType='';

        fiveSelect.onchange=function(){
            dataType=this.value
            showRecord()
        }

        function showRecord() {
            const json={pageNum:fiveNum,dataType}
            $.getJSON('/admin/audioList',json, function(obj) {
                let str = '';
                obj.arr.forEach(el => {
                    str += `<tr>
                                <td>${el.title}</td>
                                <td><img width="80" src="${el.smSrc}"></td>
                                <td>
                                     <button data-id=${el.id}>删除</button>
                                </td>
                        </tr>`
                });
                fiveTbody.innerHTML = str;
                fivePages = Math.ceil(obj.num / 5);
                pagination1()
            })
        }

        function pagination1() {
            let str = `<ul class="pagination pull-right">`;
            for (let i = 0; i < fivePages; i++) {
                str += `<li class="${i===fiveNum?'active':''}" data-index=${i}><a href="##">${i+1}</a></li>`;
            }
            fivePage.innerHTML = str + '</ul>';
        }
        com.agent1('fivePage', 'click', 'li', function() {
            fiveNum = this.getAttribute('data-index') - 0;
            showRecord()
        });
        com.agent1('fiveTbody', 'click', 'button', function() {
                let id = this.getAttribute('data-id');
                if (confirm('你确定要删除吗')) {
                    $.getJSON('/admin/delAudio?id=' + id, function(records) {
                        if (records) {
                            alert('删除成功');
                            if (records === (fivePages - 1) * 5 && fiveNum === fivePages - 1) {
                                fiveNum = fiveNum > 0 ? (fiveNum - 1) : 0;
                            }
                            showRecord()
                        } else
                            alert('删除失败')
                    })
                }
            })
              //------------------------------修改News1记录------------------------------------
        let six = document.getElementById('six');
        let sixTbody = document.getElementById('sixTbody');
        let sixForm1 = six.querySelector('.form1');
        let sixForm2 = six.querySelector('.form2');
        let sixTitle = sixForm2.querySelector('.title');
        let sixId = sixForm2.querySelector('.id');
        let sixContent = sixForm2.querySelector('.content');

        sixForm1.onsubmit = function() {
            $.getJSON('/admin/select', $(this).serialize(), function(rs) {
                let str = '';
                rs.forEach(el => {
                    str += `<tr><td>${el.title}</td><td>${el.date}</td><td><button data-id="${el.id}">选择</button></td></tr>`
                });
                sixTbody.innerHTML = str;
            })
            return false
        }
        com.agent1('sixTbody', 'click', 'button', function() {
            let id = this.getAttribute('data-id');
            $.getJSON('/admin/selectId?id=' + id, function(rs) {
                sixId.value = rs.id;
                sixTitle.value = rs.title;
                sixContent.value = rs.content;
            })
        });
        sixForm2.onsubmit = function() {
                $.post('/admin/changeNew', $(this).serialize(), function(obj) {
//                  console.log(obj);
alert('修改成功')
                }, 'json')
                return false
            }
           
           
    </script>
</body>

</html>